{% extends ('base.html.twig') %}

{% block title %}Annuler une sortie | {{ parent () }}{% endblock %}

{% block main %}
    <div class="container">
    <div>
    {% for message in app.flashes('success') %}
        <div class="btn btn-outline-ligth">
            Page de motif annulation {{ message }}
        </div>
    {% endfor %}
    <div>
    </div>

    {{ form(cancelForm) }}


{% endblock %}