{% extends ('base.html.twig') %}

{% block title %}Modifier une sortie | {{ parent () }}{% endblock %}

{% block main %}
    <div class="container">
        <h1>Motif d'annulation</h1>
    </div>
{% endblock %}