{% extends ('base.html.twig') %}

{% block title %}Modification du mot de passe | {{ parent () }}{% endblock %}

{% block main %}
    <div class="container">
        {{ form(form) }}
    </div>
{% endblock %}