{% extends ('base.html.twig') %}

{% block title %}Connexion | {{ parent () }} {% endblock %}

{% block main %}
    <div class="container">
        <h1>Login utilisateur</h1>
        <form method="post">
            <div>
                <label for="username">Votre identifiant :</label>
                <!--Symfony impose le nom _username pour gérer le mécanisme de login -->
                <input type="text" name="_username" id="username">
            </div>
            <div>
                <label for="password">Votre mot de passe :</label>
                <!--Symfony impose le nom _password pour gérer le mécanisme de login -->
                <input type="password" name="_password" id="password">
            </div>
            <div>
                <input type="checkbox" id="remember_me" name="_remember_me" checked/>
                <label for="remember_me">Se souvenir de moi</label>

                <button type="submit">Se connecter</button>
            </div>
        </form>
    </div>
{% endblock %}