{% extends 'base.html.twig' %}

{% block title %}Ajouter un participant || {{ parent () }} {% endblock%}

{% block main %}
    <div class="container">
    <h1>Ajouter un participant</h1>

    <div>
        {{ form_start(registerForm) }}
        {{ form_widget(registerForm) }}
        <button type="submit">Enregister</button>
        {{ form_end(registerForm) }}
    </div>
    </div>

{% endblock %}